.habit-check {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1rem;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  background-color: white;
  box-shadow: 2px 2px 5px 3px lightgrey;

  &__button {
    width: 80px;
    cursor: pointer;
    background-color: white;
    padding: .25rem .5rem;
    border: 1px solid grey;
  }
}