.core-view {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100vh;
  grid-template-areas: "menu view";

  &__nav {
    grid-area: menu;
    padding: 1rem;
  }

  &__view {
    grid-area: view;
    padding: 1rem;
  }
}
