.calendar {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 4.5rem);
  grid-auto-rows: 4.5rem;
  grid-gap: .5rem;

  &__check-modal {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
  }
}